@charset "utf-8";
*{
    margin:0;
    padding:0;
    outline:0;
    list-style:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    word-break:break-all;
    word-wrap:break-word;
    color:#333;
}
html{
    font-size:62.5%;
    height:100%;
}
html *{
    font:1.2rem/1.3 "Lantinghei SC", sans-serif;
}
body{
    height:100%;
    background:url(../../../img/topic/school/sc_bg.jpg) no-repeat;
    background-size:cover;
}
img{
    vertical-align: middle; 
    border:none;
}
a:link,a:visited,a:hover, a:active, a:focus {
    color: #22bfa7; 
    text-decoration: none;
}
::selection {
    background-color: #6c7278;
    color: #fff;
}
input,button,textarea{
    border:none;
    background:transparent;
    -webkit-appearance:none;
}
textarea {
    resize: none;
    overflow:auto;
}
input[type=radio],input[type=checkbox]{
    border:initial;
    background:initial;
    vertical-align:middle;
    width:20px;
    height:20px;
}
input[type=radio]{
    -webkit-appearance:radio;
}
input[type=checkbox]{
    -webkit-appearance:checkbox;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px #fff inset; 
}

input:focus,textarea:focus{
    outline:0;
    border:none;
}
::-webkit-input-placeholder {
    color:#ccc;
}
.disable{
    background: #b7b7b7!important;
    border-color:#b7b7b7!important;
    color: #888!important;
    cursor: default!important;
}
.clearfix:after{
    content:""; 
    display:block; 
    clear:both; 
    height:0;
    font-size:0;
    line-height:0;
    overflow:hidden;
    visibility:hidden;
}
.mgb20{
    margin-bottom:20px!important;
}
.tac{
    text-align:center;
}
.ofh{
    overflow:hidden;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.arrow,.pe-arrow:after{/*通用箭头样式*/
    width:0;
    height:0;
    overflow:hidden;
    font-size:0;
    line-height:0;
    border-style:solid;
    cursor:pointer;
}
.pe-arrow:after{
    content:'';
}
.arrow-bottom,.pe-arrow-bottom:after{/*箭头朝下*/
    border-color:#aaa transparent transparent;
}
.arrow-up,.pe-arrow-up:after{/*箭头朝上*/
    border-color:transparent transparent #aaa;
}
.arrow-right,.pe-arrow-right:after{/*箭头朝右*/
    border-color:transparent transparent transparent #aaa;
}
.arrow-left,.pe-arrow-left:after{/*箭头朝左*/
    border-color:transparent #aaa transparent transparent;
}
.common-icon,.common-after-icon:after,.common-before-icon:before,.common-radio-icon,.common-checkbox-icon{
    background-size:100px auto;
    background-repeat:no-repeat;
    background-position:-10000px -10000px;
}
.common-after-icon:after,.common-before-icon:before{
    content:'';
}
.common-text-ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
/* content */
.sc-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    /*-webkit-transition:all .8s;
    transition:all .8s;*/
    -webkit-transform:scale3d(0,0,0);
    transform:scale3d(0,0,0);
}
.sc-wrap.show{
    -webkit-animation:'scaleWrap' .4s linear .1s forwards;
    animation:scaleWrap .4s linear .1s forwards;
}
.sc-wrap .con{
    position:absolute;
    left:50%;
    top:50%;
}
.sc-wrap .q-con{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border:2px solid rgba(66,15,65,.8);
    border-radius:8px;
    background:rgba(30,1,45,.8);
    box-shadow:inset 0 0 10px 10px rgba(45,6,64,.4);
}
.sc-wrap .circle{
    position:absolute;
    border-radius:50%;
}
.sc-wrap .circle-back{
    width:34px;
    height:34px;
    top:-13px;
    left:-13px;
    z-index:-1;
    background:rgba(66,15,65,.8);
}
.sc-wrap .circle-font{
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    font-size:1.4rem;
    color:#fff;
    font-weight:600;
    top:-11px;
    left:-11px;
    z-index:5;
    background:#25042f;
    box-shadow:inset 0 0 4px 4px rgba(45,6,64,.4);
}
.sc-wrap .q-title{
    padding:18px;
    font-size:1.4rem;
    line-height:1.5;
    color:#dba3cd;
    font-weight:600;
    max-height:160px;
    overflow:hidden;
}
.sc-wrap .q-answers-list{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    position:absolute;
    padding:18px;
    left:0;
    bottom:0;
}
.sc-wrap .q-answers-list a{
    display:block;
    padding:0 0 0 33px;
    position:relative;
    font-size:1.4rem;
    color:#dba3cd;
    border-bottom:1px dashed #430d5e;
    line-height:43px;
}
.sc-wrap .q-answers-list a:first-of-type{
    border-top:1px dashed #430d5e;
}
.sc-wrap .q-answers-list a:before,.sc-wrap .q-answers-list a:after{
    content:'';
    position:absolute;
    top:50%;
    border-radius:50%;
}
.sc-wrap .q-answers-list a:before{
    width:11px;
    height:11px;
    border:2px solid #dba3cd;
    left:0;
    margin-top:-8px;
}
.sc-wrap .q-answers-list a.active:after{
    width:7px;
    height:7px;
    background:#dba3cd;
    left:4px;
    margin-top:-4px;
}
.sc-wrap .btn{
    position:absolute;
    left:50%;
    bottom:0;
    margin-left:-74px;
    width:148px;
    height:53px;
    background-repeat:no-repeat;
    background-size:100%;
}
/* wrap-1 */
.sc-music-btn{
    position:absolute;
    width:31px;
    height:31px;
    border:1px solid #ff8ae2;
    border-radius:50%;
    background:url(../../../img/topic/school/yuefu.png) rgba(255,255,255,.1) center center no-repeat;
    background-size:18px auto;
    top:20px;
    right:16px;
    display:none;
    z-index:10;
}
.sc-music-btn.show{
    display:block;
}
.sc-music-btn.play{
    -webkit-animation:'circle' 10s linear .2s infinite;
    animation:circle 10s linear .2s infinite;
}
@-webkit-keyframes circle{
    0% {
        -webkit-transform:rotate(0);
    }
    100% {
        -webkit-transform:rotate(360deg);
    }
}
@keyframes circle{
    0% {
        transform:rotate(0);
    }
    100% {
        transform:rotate(360deg);
    }
}
@-webkit-keyframes scaleWrap{
    0% {
        -webkit-transform:scale3d(0,0,0);
    }
    100% {
        -webkit-transform:scale3d(1,1,1);
    }
}
@keyframes scaleWrap{
    0% {
        transform:scale3d(0,0,0);
    }
    100% {
        transform:scale3d(1,1,1);
    }
}
.sc-wrap-1 .con{
    margin-left:-145px;
    margin-top:-200px;
    width:290px;
    height:400px;
}
.sc-wrap-1 .title-border{
    position:absolute;
    top:0;
    left:50%;
    margin-left:-71px;
    width:142px;
    height:202px;
    border:4px solid #ff34cd;
}
.sc-wrap-1 .title-border *{
    position:absolute;
    background-repeat:no-repeat;
    background-size:100%;
}
.sc-wrap-1 .title-zhao{
    width:98px;
    height:114px;
    background-image:url(../../../img/topic/school/zhao_font.png);
    top:-40px;
    left:-20px;
}
.sc-wrap-1 .title-huan{
    width:99px;
    height:112px;
    background-image:url(../../../img/topic/school/huan_font.png);
    z-index:-1;
    top:0;
    right:-17px;
}
.sc-wrap-1 .title-xue{
    width:89px;
    height:113px;
    background-image:url(../../../img/topic/school/xue_font.png);
    z-index:-1;
    left:-15px;
    bottom:12px;
}
.sc-wrap-1 .title-shen{
    width:98px;
    height:141px;
    background-image:url(../../../img/topic/school/shen_font.png);
    right:-15px;
    bottom:-50px;
}
.sc-wrap-1 .tip{
    position:absolute;
    font-size:1.4rem;
    line-height:1.5;
    color:#dba3cd;
    font-weight:600;
    top:266px;
    text-align:center;
    width:100%;
    left:0;
}
.sc-wrap-1 .btn{
    background-image:url(../../../img/topic/school/button01_normal.png);
}
.sc-wrap-1 .btn:active{
    background-image:url(../../../img/topic/school/button01_active.png);
}
.sc-wrap-1 .text-bg{
    position:absolute;
    background-size:auto 100%;
    background-repeat:no-repeat;
}
.sc-wrap-1 .text-summon{
    width:128px;
    height:20px;
    top:64px;
    left:20px;
    background-image:url(../../../img/topic/school/summon.png);
}
.sc-wrap-1 .text-curve-wrecker{
    width:204px;
    height:17px;
    top:117px;
    right:0;
    background-image:url(../../../img/topic/school/curve-wrecker.png);
}
/* wrap-2 */
.sc-wrap-2 .con{
    width:280px;
    height:400px;
    margin-left:-140px;
    margin-top:-200px;
}
.sc-wrong-tip{
    background:url(../../../img/topic/school/wrong_pic.png) center 36px no-repeat;
    background-size:107px;
    padding:228px 0 0;
    font-size:1.8rem;
    color:#fff;
    font-weight:600;
    text-align:center;
}
.sc-wrap .sc-re-play-btn{
    background-image:url(../../../img/topic/school/button02_normal.png);
    bottom:30px;
}
.sc-wrap .sc-re-play-btn:active{
    background-image:url(../../../img/topic/school/button02_active.png);
}
/* wrap-3 */
.sc-wrap-3 .con{
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.sc-faguang-box{
    position:absolute;
    top:50%;
    left:50%;
    background:url(../../../img/topic/school/faguang_pic.png) center center no-repeat;
    background-size:100%;
    -webkit-animation:'circle' 30s linear .2s infinite;
}
.sc-wrap-3 .sc-faguang-box{
    width:640px;
    height:640px;
    margin-left:-320px;
    margin-top:-320px;
}
.sc-forward-tip{
    position:absolute;
    left:0;
    bottom:45px;
    font-size:1.2rem;
    color:#b7378f;
    text-align:center;
    line-height:1.2;
    width:100%;
}
.sc-card-box{
    background:#faf1e5;
    border-radius:10px;
    width:250px;
    height:290px;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-125px;
    margin-top:-145px;
    z-index:5;
}
.sc-k-icon{
    position:absolute;
    width:15px;
    height:38px;
    background-repeat:no-repeat;
    background-size:100%;
    z-index:2;
}
.sc-k-icon.heitao{
    background-image:url(../../../img/topic/school/heitao_pic.png);
}
.sc-k-icon.hongtao{
    background-image:url(../../../img/topic/school/hongtao_pic.png);
}
.sc-k-icon.fangpian{
    background-image:url(../../../img/topic/school/fangpian_pic.png);
}
.sc-k-icon.meihua{
    background-image:url(../../../img/topic/school/meihua_pic.png);
}
.sc-k-icon:first-of-type{
    top:15px;
    left:15px;
}
.sc-k-icon:last-of-type{
    right:15px;
    bottom:15px;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.sc-head-img-box{
    width:64px;
    height:64px;
    border:1px solid #1b0b26;
    background:url(../../../img/topic/school/default_head_pic.png) center 5px #eaeaea no-repeat;
    background-size:100%;
    margin:35px auto 0;
    border-radius:50%;
    overflow:hidden;
}
.sc-head-img-box img{
    width:100%;
    height:100%;
    border-radius:50%;
}
.sc-xueshen-info{
    margin:20px auto 0;
    text-align:center;
}
.sc-xueshen-info p{
    line-height:1.2;
    font-size:1.2rem;
    margin:0 10px 8px;
}
.sc-wrap .sc-continue-btn{
    background-image:url(../../../img/topic/school/button03_normal.png);
    bottom:65px;
}
.sc-wrap .sc-continue-btn:active{
    background-image:url(../../../img/topic/school/button03_active.png);
}
/* 答题成功提示 */
.sc-success-tip{
    position:relative;
    padding:225px 0 0;
    overflow:hidden;
}
.sc-success-tip .sc-card-box{
    width:146px;
    height:146px;
    margin-left:-73px;
    margin-top:0;
    top:36px;
}
.sc-success-tip .sc-k-icon{
    width:13px;
    height:33px;
}
.sc-success-tip .sc-k-icon:first-of-type{
    top:10px;
    left:10px;
}
.sc-success-tip .sc-k-icon:last-of-type{
    bottom:10px;
    right:10px;
}
.sc-success-tip .sc-card-box.crown{
    background-size:113px;
    background-position:center 26px;
    background-repeat:no-repeat;
}
.sc-success-tip .sc-card-box.crown.meihua{
    background-image:url(../../../img/topic/school/crown_meihua_pic.png);
}
.sc-success-tip .sc-card-box.crown.heitao{
    background-image:url(../../../img/topic/school/crown_heitao_pic.png);
}
.sc-success-tip .sc-card-box.crown.hongtao{
    background-image:url(../../../img/topic/school/crown_hongtao_pic.png);
}
.sc-success-tip .sc-card-box.crown.fangpian{
    background-image:url(../../../img/topic/school/crown_fangpian_pic.png);
}
.sc-success-tip .tip-txt{
    font-size:1.8rem;
    line-height:1.2;
    color:#fff;
    font-weight:600;
    text-align:center;
    margin-bottom:10px;
}
.sc-success-tip .sc-faguang-box{
    width:300px;
    height:300px;
    margin-left:-150px;
    margin-top:-150px;
}
.sc-wrap-2 .sc-forward-tip{
    position:absolute;
    left:0;
    bottom:24px;
    font-size:1.2rem;
    color:#b7378f;
    text-align:center;
    line-height:1.2;
    width:100%;
}
.sc-wrap-2 .sc-continue-btn{
    bottom:45px;
}
/* 通关成功提示 */
.sc-success-tip.passed{
    position:relative;
    padding:305px 0 0;
    overflow:hidden;
}
.sc-success-tip.passed .sc-faguang-box{
    width:348px;
    height:348px;
    margin-left:-174px;
    margin-top:0;
    top:-36px;
}
.sc-success-tip.passed .sc-card-box{
    width:105px;
    height:105px;
    margin:0;
    background-position:center 18px;
    z-index:1;
}
.sc-success-tip.passed .sc-card-box.crown{
    background-size:81px;
}
.sc-success-tip.passed .sc-card-box.crown.meihua{
    top:144px;
    right:28px;
}
.sc-success-tip.passed .sc-card-box.crown.heitao{
    top:28px;
    left:28px;
}
.sc-success-tip.passed .sc-card-box.crown.hongtao{
    top:28px;
    right:28px;
}
.sc-success-tip.passed .sc-card-box.crown.fangpian{
    top:144px;
    left:28px;
}
.sc-success-tip.passed .sc-k-icon{
    width:9px;
    height:24px;
}
.sc-success-tip.passed .sc-k-icon:first-of-type{
    left:6px;
    top:7px;
}
.sc-success-tip.passed .sc-k-icon:last-of-type{
    right:6px;
    bottom:7px;
}
/* 学神展示过渡 */
.sc-card-box.xueshen{
    height:315px;
    margin-top:-157px;
}
.sc-xueshen-name{
    font-size:2.1rem;
    text-align:center;
    margin-top:15px;
    color:#140620;
    font-weight:600;
    line-height:1.2;
}
.sc-card-box.xueshen .sc-xueshen-info{
    margin-top:14px;
}
.sc-card-box.xueshen .tip{
    position:absolute;
    width:100%;
    left:0;
    bottom:-53px;
    font-size:1.8rem;
    line-height:1.2;
    color:#fff;
    font-weight:600;
    text-align:center;
}
.sc-card-box.xueshen .countdown{
    bottom:-83px;
    color:#b7378f;
}
/* 学神电话接听界面 */
.sc-xueshen-wrap.tel{
    background:url(../../../img/topic/school/sc_xueshen_tel_bg.jpg) no-repeat;
    background-size:cover;
    z-index:20;
}
.sc-xueshen-wrap.tel .item-top-box{
    display:-webkit-box;
    margin:15px;
}
.sc-xueshen-wrap.tel .item-img{
    display:block;
    width:66px;
    height:66px;
    border-radius:6px;
}
.sc-xueshen-wrap.tel .item-info{
    -webkit-box-flex:1;
    margin-left:14px;
}
.sc-xueshen-wrap.tel .item-info *{
    color:#fff;
    line-height:1;
}
.sc-xueshen-wrap.tel .item-name{
    font-size:3rem;
    font-weight:600;
    margin:8px 0 15px;
}
.sc-xueshen-wrap.tel .item-tip{
    font-size:1.5rem;
}
.sc-xueshen-wrap.tel .item-tixingwo,.sc-xueshen-wrap.tel .item-message{
    position:absolute;
    font-size:1.6rem;
    line-height:1.2;
    color:#fff;
    padding:33px 0 0;
    width:60px;
    bottom:155px;
    background-repeat:no-repeat;
    background-position:center top;
    text-align:center;
}
.sc-xueshen-wrap.tel .item-tixingwo{
    background-image:url(../../../img/topic/school/tixingwo_icon.png);
    background-size:18px;
    left:40px;
}
.sc-xueshen-wrap.tel .item-message{
    background-image:url(../../../img/topic/school/info_icon.png);
    background-size:20px;
    right:40px;
}
.sc-xueshen-wrap .item-btn{
    position:absolute;
    left:50%;
    margin-left:-36px;
    bottom:30px;
    width:72px;
    padding:88px 0 0;
    line-height:1.2;
    font-size:1.7rem;
    text-align:center;
    color:#fff;
    font-weight:600;
}
.sc-xueshen-wrap .item-btn:before{
    content:'';
    position:absolute;
    width:72px;
    height:72px;
    left:0;
    top:0;
    border-radius:50%;
    background-position:center center;
    background-repeat:no-repeat;
}
.sc-xueshen-wrap.tel .item-btn.answer:before{
    background-image:url(../../../img/topic/school/telephone_icon.png);
    background-color:#4cd964;
    background-size:31px;
}
/* 学神视频 */
.sc-xueshen-wrap.video .item-btn.reject:before{
    background-image:url(../../../img/topic/school/guaduan_icon.png);
    background-color:#ff3b30;
    background-size:39px;
}
.sc-xueshen-wrap.video video{
    width:100%;
    height:100%;
    background:#000;
}
/* 活动结束 */
.sc-end-wrap .item-top{
    font-size:2.1rem;
    line-height:1.5;
    color:#fff;
    font-weight:600;
    text-align:center;
    margin:30px 0 27px;
}
.sc-end-wrap .item-con{
    width:80%;
    height:116px;
    margin:0 auto 41px;
    display:-webkit-box;
    padding:21px;
}
.sc-end-wrap .item-img{
    display:block;
    width:66px;
    height:66px;
    border:2px solid #fff;
    border-radius:50%;
}
.sc-end-wrap .item-info{
    margin-left:17px;
    -webkit-box-flex:1;
}
.sc-end-wrap .item-info *{
    line-height:1.2;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.sc-end-wrap .item-name{
    font-size:2.1rem;
    color:#fff;
    font-weight:600;
    margin:12px 0 11px;
}
.sc-end-wrap .item-univs{
    color:#938c97;
    font-size:1.5rem;
}
.sc-end-wrap .item-btn-box{
    width:88%;
    margin:0 auto;
}
.sc-end-wrap .item-btn{
    width:134px;
    height:53px;
    background-size:100%;
    background-repeat:no-repeat;
}
.sc-end-wrap .item-btn.share{
    background-image:url(../../../img/topic/school/button04_normal.png);
}
.sc-end-wrap .item-btn.share:active{
    background-image:url(../../../img/topic/school/button04_active.png);
}
.sc-end-wrap .item-btn.repeat{
    background-image:url(../../../img/topic/school/button05_normal.png);
}
.sc-end-wrap .item-btn.repeat:active{
    background-image:url(../../../img/topic/school/button05_active.png);
}
.sc-end-wrap .item-footer{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:49px;
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    color:#fff;
    font-size:1.5rem;
    background:rgba(41,13,35,.5);
}
.sc-end-wrap .item-logo{
    width:98px;
    height:22px;
    background:url(../../../img/topic/school/logo_pic.png) no-repeat;
    background-size:100%;
}
.sc-end-wrap .item-slogan{
    font-size:1.5rem;
    color:#fff;
    margin-left:22px;
}
.sc-end-wrap .item-code-img{
    position:absolute;
    left:50%;
    bottom:65px;
    margin-left:-50px;
    width:100px;
    height:100px;
    display:block;
}
.sc-share-mask{
    background:rgba(0,0,0,.8);
    z-index:50;
}
.sc-share-mask:after{
    content:'';
    position:absolute;
    width:49px;
    height:303px;
    top:17px;
    right:17px;
    background:url(../../../img/topic/school/fenxianghaoyou_pic.png) no-repeat;
    background-size:100%;
}
@media screen and (max-width:320px){
    .sc-wrap .sc-continue-btn{
        bottom:45px;
    }
    .sc-forward-tip{
        bottom:25px;
    }
    .sc-wrap-2 .sc-continue-btn{
        bottom:35px;
    }
    .sc-wrap-2 .sc-forward-tip{
        bottom:14px;
    }
    .sc-end-wrap .item-top{
        margin:15px 0 14px;
    }
    .sc-end-wrap .item-con{
        margin:0 auto 20px;
    }
}
/* 加载进度样式 */
.pace .pace-progress{
    background-color:#000!important;
}